<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <footer class="text-center" th:fragment="footer">
            <div class="mb-2">
                <small>
                    © 2020 made by - 
                    <a target="_blank" th:href="@{'http://'+${serverName}+':9090/about/Harshita-Sethi.pdf'}">
                        <!--<a target="_blank" href="javascript:document.location.href=getUrl();">-->
                        Harshita Sethi
                    </a>
                </small>
                <a href="https://github.com/HarshitaSethi/Covid-19/tree/master" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
            </div>
        </footer>
        <script>
            function getUrl() {
                var url = window.location.protocol + '//' + window.location.hostname + ':9090/about/Harshita-Sethi.pdf';
                return url;
            }
        </script>
    </body>
</html>
