/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 4, 2021, 12:51:57 PM
    Author     : harshita.sethi
*/

html {
    scroll-behavior: smooth;
}

.parallax {
    /* The image used */
    background-image: url('http://localhost:9090/COVID/COVID_BACKGROUND.jpg');

    /* Full height */
    height: 60%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background-color: #F5F7FA;
}

.card{
    height: calc(100% - 15px);
    margin-bottom: 15px;
}


.buttons {
    min-width: 310px;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 0;
}

.buttons button {
    cursor: pointer;
    border: 1px solid silver;
    border-right-width: 0;
    background-color: #f8f8f8;
    font-size: 1rem;
    padding: 0.5rem;
    outline: none;
    transition-duration: 0.3s;
}

.buttons button:first-child {
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

.buttons button:last-child {
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-right-width: 1px;
}

.buttons button:hover {
    color: white;
    background-color: rgb(158, 159, 163);
    outline: none;
}

.buttons button.active {
    background-color: #0051B4;
    color: white;
}

#containerBarChart {
    width: 100%;
}

.carousel-inner img {
    width: 100%;
    /*height: 100%;*/
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #eee;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 1.2rem;
    content: "\f106";
    color: #1f7de2 !important;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: inherit;
}