<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="contact">
            <section id="contactSection">
                <div class="row">
                    <div class="col-12 mt-3">
                        <h4 class="text-uppercase">COVID HELPLINE</h4>
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5" style=""> 
                        <img src="http://localhost:9090/COVID/covid.gif" alt="Covid-19 Alert" style="width:inherit;"/>
                    </div>

                    <div class="col-7">
                        <ul>
                            <li><b> Helpline Number for corona-virus&nbsp;</b></li>
                            <li><b>State&nbsp;0141-2225624/2225000&nbsp;Toll Free No: 104</b>/<b>108</b></li>
                            <li><b>National Call Center No +91-11-23978046 Toll Free No: 1075</b></li>
                            <li style="list-style: none"><b>&nbsp;</b></li>
                            <li><a href="https://www.mohfw.gov.in/" target="_blank">Department of Health &amp; Family Welfare, GOI</a></li>
                            <li><a href="http://www.rajswasthya.nic.in/Corona%20Virus.htm" target="_blank">Department of Medical and Health, GOR</a></li>
                            <li><a href="https://icmr.nic.in/node/39071" target="_blank">Indian Council of Medical Research</a></li>
                        </ul>
                    </div>
                </div>
                <hr/>
            </section>
        </div>
    </body>
</html>
