<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/navbar :: baseHead(~{::title}, ~{::link},~{::script})">
        <script></script>
        <script th:src="@{/js/selfAssessment.js}"></script>
        <link th:href="@{/css/home.css}" rel="stylesheet" />

    </head>
    <body>
        <div class="page-wrapper chiller-theme toggled"  id="main-wrapper">
            <div th:insert="fragments/navbar:: navbar"></div>
            <div class="parallax"></div>

            <!-- sidebar-wrapper  -->
            <main class="page-content">
                <div class="container-fluid">
                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading"><i class="fa fa-warning mr-1"></i>Severe symptoms</h4>
                        <p>If you are having difficulty breathing or experiencing other
                            severe symptoms, call 104 or 97456-97456 immediately.
                            Advise them of your symptoms and travel history. </p>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <h4 class="text-uppercase">SELF ASSESSMENT</h4>
                            <p>Please choose the symptoms you are having.</p>
                            <hr/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" class="form-horizontal" id="selfAssessmentForm" onsubmit="return assessSymptoms(this);">
                                <div class="row" th:each="item : ${symptomsData}" style="font-size: 1.2 rem">
                                    <label for="symptomsRadio" class="col-7 control-label col-form-label">
                                        <span th:text="${item.symptom}"></span></label>
                                    <div class="col-4 form-radio form-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input form-control" th:name="${item.category}+${item.id}" value="YES">Yes</input>
                                        </label>
                                        <label class="form-check-label" style="margin-left: 20px;">
                                            <input type="radio" class="form-check-input form-control" th:name="${item.category}+${item.id}" value="NO">No</input>
                                        </label> 
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-sm-9">
                                        <button type="submit" class="btn btn-primary btn-block">Get Results</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="my-5" id="assessmentResult">
                    </div>
                    <hr/>
                    <div th:insert="fragments/footer" id='footer'></div>
                </div>
            </main>
            <!-- page-content" -->
        </div>
        <!-- page-wrapper -->
    </body>
</html>
